<% if !user_signed_in? %>
  <script type="text/javascript">
      alert('You need to be logged in to see this page.');
    window.location.href="/users/sign_in";
  </script>
<% else %>

      <div class="row" style="margin:0;">
        <div class="col m6 offset-m3">
          <div class="card" style="color:white; background-color:#34495e; padding-bottom=0px">
            <div class="card-content white-text">
              <span class="card-title">Upload your API Token</span>
              <p>You can find they Token to your API under your username at the top right of the page when you logged in to your account. 
              Simply click "Aplication" and you will see your Token. If you don't have an account, you can sign up for a free trial <a href="http://www.kennasecurities.com">right here,</a> or use this demo API Token: 	ty9hxcpmgdrvnuqe</p>
            </div>
          </div>
        </div>
      </div>

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 





<% #current_user.token = 'ty9hxcpmgdrvnuqe' %>
    
    
    <!-- Submit Token -->
    <div class="row">
      <div class="col m6 offset-m3">
        <div class="card white">
          <div class="card-content black-text">

<% 
if params[:field_token] 
  current_user.token = params[:field_token]
  if current_user.save
%>
<div style = "color:green;">Your API Token has been uploaded.</div>
<% else %>
<div style = "color:red;">The Token does not appear to be valid.</div>
<%
   end  
end 
%>

            <%= form_tag '/pages/key', :method => "get" %>
              
              <div class="form-group">
                <label for="field_token">API Token</label>
                <input type="text" name="field_token" id="field_token" width="150px" value="<%= current_user.token %>" placeholder="Token" required>
              </div>
              
              <button class="btn waves-effect waves-light" type="submit" name="action">Upload API Token
                <i class="material-icons right">send</i>
              </button>
          
              </form>



            


          </div>
        </div>
      </div>
    </div>


    <div class="row" width="730px">
        <div class="col m6 offset-m3"><a href="https://www.kennasecurity.com/video/"><img width="100%" src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></a></div>
    </div>

    <!-- Images 
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></div>
    </div>
    -->
    
    
<% end  %>