

      <div class="row" style="margin:0;">
        <div class="col m6 offset-m3">
          <div class="card" style="color:white; background-color:#34495e; margin-bottom:8px">
            <div class="card-content white-text">
              <span class="card-title">Using the Kenna API Browser</span>
            </div>
          </div>
        </div>
      </div>

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 

    <div class="row" style="margin:0;">
      <div class="col m6 offset-m3">
        <div class="card white" style="margin-top:4px; margin-bottom:1px">
          <div class="card-content black-text">
              <p>
                  First sign up or log in. Then enter your Kenna API Token from the menu link above. You may then
                  explore each endpoing without having to type anything at all. You will see the API in action
                  by just toggling some drop downs against either your own account or the test Token provided.
                   Be careful! The changes made here actually are real and modifyyour account data. 
              </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row" width="730px">
        <div class="col m6 offset-m3"><a href="https://www.kennasecurity.com/video/"><img width="100%" src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></a></div>
    </div>

    <!-- Other Images 
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></div>
    </div>
    -->
