

      <div class="row" style="margin:0;">
        <div class="col m6 offset-m3">
          <div class="card" style="color:white; background-color:#34495e; margin-bottom:8px">
            <div class="card-content white-text">
              <span class="card-title"><p style="text-align:center">Kenna API - Authentication</p></span>
            </div>
          </div>
        </div>
      </div>

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 


    <div class="row" style="margin:0;">
      <div class="col m6 offset-m3">
        <div class="card white" style="margin-top:4px; margin-bottom:1px">
          <div class="card-content black-text">
            <p>
            Access to the API is controlled using a token. Every account has a token generated when the account is created.
            </p><BR>
            <p>
            You may locate and change your API token by logging in and clicking your company's name in the upper right hand corner. In the dropdown that appears, chose 'Applications'. Your API token will be listed first in the table found on the applications page. You would replace <token> in the example below with your API token.
            </p><BR>
            <p>
            All API requests must be made over HTTPS. Calls made over plain HTTP will fail. You must authenticate for all requests.
            </p><BR>
            <p>
            Requests are limited to a maximum of 3 requests per second. If you exceed this limit, your request will receive a “429: Too Many Requests" status code response.
            </p>
          </div>
        </div>
      </div>
    </div>

<BR>
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 


    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>

    <!-- Images 
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></div>
    </div>
    -->
