

      <div class="row" style="margin:0;">
        <div class="col m6 offset-m3">
          <div class="card" style="color:white; background-color:#34495e; margin-bottom:8px">
            <div class="card-content white-text">
              <span class="card-title"><p style="text-align:center">Kenna API - Errors</p></span>
            </div>
          </div>
        </div>
      </div>

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 


    <div class="row" style="margin:0;">
      <div class="col m6 offset-m3">
        <div class="card white" style="margin-top:4px; margin-bottom:1px">
          <div class="card-content black-text">
              <p>In the case of an error, the appropriate HTTP status code will be returned in the response header. In addition, the response body will contain a JSON formatted description of what went wrong. The JSON will contain an error attribute, and may contain a more explanatory message attribute as well. It also includes a success attribute with a value of false.</p>
          </div>
        </div>
      </div>
    </div>

<BR>
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 


    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>

    <!-- Images 
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></div>
    </div>
    -->
