

      <div class="row" style="margin:0;">
        <div class="col m6 offset-m3">
          <div class="card" style="color:white; background-color:#34495e; margin-bottom:8px">
            <div class="card-content white-text">
              <span class="card-title"><p style="text-align:center">Kenna API - Status Codes</p></span>
            </div>
          </div>
        </div>
      </div>

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 


    <div class="row" style="margin:0;">
      <div class="col m6 offset-m3">
        <div class="card white" style="margin-top:4px; margin-bottom:1px">
          <div class="card-content black-text">
              <p>The following HTTP status codes are returned by the API.</p>
              
              
              
              
  <dl class="well dl-horizontal">
    <dt>102</dt><dd>Processing</dd>
    <dt>200</dt><dd>OK</dd>
    <dt>201</dt><dd>Created</dd>
    <dt>204</dt><dd>No Content</dd>
    <dt>400</dt><dd>Bad Request</dd>
    <dt>401</dt><dd>Unauthorized</dd>
    <dt>404</dt><dd>Not Found</dd>
    <dt>409</dt><dd>Conflict</dd>
    <dt>412</dt><dd>Precondition Failed</dd>
    <dt>422</dt><dd>Unprocessable Entity</dd>
    <dt>429</dt><dd>Too Many Requests (more than 3 per second)</dd>
    <dt>500</dt><dd>Internal Server Error</dd>
  </dl>
          </div>
        </div>
      </div>
    </div>

<BR>
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   

     <!-- Divider -->
    <div class="row" width="730px" style="margin:0; padding:0;">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-divider%402x.png"></div>
    </div> 


    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>

    <!-- Images 
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-logos-all%402x-1.png"></div>
    </div>   
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img width="100%" src="https://s3.amazonaws.com/mbrortest/home-prioritizeyourvulns-cves%402x.png"></div>
    </div>
    
    <div class="row" width="730px">
        <div class="col m6 offset-m3"><img src="https://s3.amazonaws.com/mbrortest/tu-video.jpg"></div>
    </div>
    -->
