<footer class="page-footer" style="background-color:#34495e">
      <div class="container" style="background-color:#34495e">
        <div class="row">
          <div class="container">
            <div style="align:center" class="col s4 offset-4">
                <h6 class="footerLink" style="color:green"><strong>PRODUCT</strong></h6>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/features">Features</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/connectors">Connectors</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/pricing">Pricing</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/qualys-vulnerability-scanning-best-practices">Qualys Scanning &amp; Kenna</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/prioritize-rapid7-scanning-results">Prioritize Rapid7 Scanning Results</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/tenable-nessus-vulnerability-scanning-strategies">Measure Tenable Scan Results</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/dell-secureworks-and-kenna">SecureWorks &amp; Threat Analysis</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/threat-intelligence">Cyber Threat Intelligence in InfoSec</a></p>
            </div>
            <div class="col s4 offset-12">
                <h6 class="footerLink" style="color:red"><strong>RESOURCES</strong></h6>
                <p class="footerLink"><a href="https://help.kennasecurity.com/hc/en-us" target="_blank">Help Center</a></p>
                <p class="footerLink"><a href="mailto:support@kennasecurity.com">Support</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/data-driven-security">Research Paper</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/security">Security</a></p>
                <p class="footerLink"><a href="https://www.kennasecurity.com/video/resources">Resource Center</a></p>
                <p class="footerLink"><a href="http://status.kennasecurity.com" target="_blank">Site Status</a></p>
               
                <p class="footerLink">
                  <a href="https://www.facebook.com/KennaSec/"><img src="https://www.kennasecurity.com/wp-content/uploads/facebook-icon.png" alt="facebook" width="21px" height="21px"></a>
                  &nbsp;<a href="https://twitter.com/KennaSecurity"><img src="https://www.kennasecurity.com/wp-content/uploads/twitter-icon.png" alt="twitter" width="25px" height="21px"></a>
                  &nbsp;<a href="https://www.linkedin.com/company/kennasecurity"><img src="https://www.kennasecurity.com/wp-content/uploads/linkedin-icon.png" alt="LinkedIn" width="21px" height="21px"></a>
                  &nbsp;<a href="https://www.youtube.com/channel/UC19zynWM3s3oFKwuLn3l11g"><img src="https://www.kennasecurity.com/wp-content/uploads/youtube-icon.png" alt="YouTube" width="30px" height="21px"></a>
                </p>
            </div>
            <div class="col s4 offset-12">
                <h6 class="footerLink"><strong><span style="color:#0850ef">COMPANY</span></strong></h6>
                  <p class="footerLink"><a href="https://www.kennasecurity.com/video/about">About</a></p>
                  <p class="footerLink"><a href="https://www.kennasecurity.com/video/jobs">Jobs</a></p>
                  <p class="footerLink"><a href="https://www.kennasecurity.com/video/partners">Partners</a></p>
                  <p class="footerLink"><a href="https://www.kennasecurity.com/video/press">Press</a></p>
                  <p class="footerLink"><a href="http://blog.kennasecurity.com" target="_blank">Blog</a></p>
                  <p class="footerLink"><a href="https://www.kennasecurity.com/video/contact">Contact</a></p>
                  <p class="footerLink"><a href="https://www.kennasecurity.com/video">Video</a></p>
              </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright" style="background-color:black">
        <div class="container">
        <p style="text-align:center">© KENNA SECURITY, INC. ALL RIGHTS RESERVED. | <a href="https://www.kennasecurity.com/privacy/">PRIVACY POLICY</a></p>
        </div>
      </div>
    </div>
  </footer>
