<title>Kenna API Browser</title>
<%= csrf_meta_tags %>

<!-- TODO (Maynard): Loading needs to be optimized, some neeeds to go to the bottom, resolve conflicts -->

<!-- Google jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- Materialize Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Google Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- DataTables(datatables.net) -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/18c85ece21.js"></script>

<!-- Modal Script -->
<!-- TODO  (Maynard): This should not be here -->
<script>
(function ($) {
    $(function () {
          //initialize all modals           
          $('.modal').modal();
          //open by click on trigger
          $('.trigger-modal').modal();

          });
      })(jQuery);
</script>

<!-- TODO (Maynard): This should not be here -->
<style>
  .navLink {
    color: black;
  }
  .dropDownLink {
    color:#379ed7;
  }
  .footerLink {
      color: white;
      text-align:center;
      margin:0;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>