
<% if notice %>
    <div class="row">
        <p style="font-size:14px; color:green; align:center" class="notice"><%= notice %></p>
    </div>
<% end %>

<% if alert %>
    <div class="row">
        <p style="font-size:14px; color:red; align:center;" class="alert"><%= alert %></p>
    </div>
<% end %>