
<% if notice %>
    <div class="row">
        <div class="col m6 offset-m3">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
    </div>
<% end %>